
<main>
  <div class="container" *ngFor="let item of data">
    <div class="header-container">
      <div class="share-button">
        <p (click)="shareUrl()">
        </p>
      </div>
    </div>
    <div class="image-container">
      <img ngSrc="/assets/images/Cubelogo.png" width="100" priority height="100" alt="">
    </div>
    <div class="text-container">
      <div class="name"><p>{{item.name}}</p></div>
      <div class="desc"><p>{{item.desc}}</p></div>
    </div>

    <div class="tile-container" *ngFor="let item of data[0].links">
      <a class="tile" href={{item.url}} target="_blank">
        <div class="icon">
          <img ngSrc={{item.icon}} alt="app logo" height="40" width="40">
        </div>
        <p>{{item.name}}</p>
        <p class="tile-share-button" (click)="shareLink(item.url)">
         
            
          
        </p>
      </a>
    </div>
  </div>
</main>

<footer>
 
</footer>